.head
{
}
option
{
    background-color: black;
    
}
#sreg2
{
        
     margin-top: -20px;
     padding:0px;
     color: red;
     text-align: center; 
     border-radius: 15px;
     font-variant:small-caps;
     font-style:normal;
}

#sreg
{
    border: solid 1px ;
    border-color: #cccccc;
    color: white;
    margin-top: -20px;
    padding: 0px;
    text-align: center;
    border-radius: 15px;
    
     font-variant:small-caps;
     font-style:normal;
}
#sreg1
{
    margin-top: 1px;
    padding: 0px;
    text-align: center;
    background-color:transparent ;
    border-radius: 15px;
    

     font-variant:small-caps;
     font-style:normal;
}
.tablestyle
{
    color: black ;
    font-variant:small-caps; 
    font-style:normal; 
    
}
#maindiv
{
    padding: 0px;
    padding-bottom:20px;
    text-align: center;
    max-width: 500px;    
    font-variant:small-caps;
     font-style:normal;
}
body
    {
       background-image:url("background.jpg");
       background-repeat:no-repeat;
               background-size:cover;
        
    }
    #pp
    {
        color: black;
        
     font-variant:small-caps;
     font-style:normal;    
    }
    .table *
    {
         color: black;
         font-style:normal;
    
        
    }
    h1,h2,h3
    {
        
        color: black ;
        font-variant:small-caps;
        font-style:normal;
    }
    h4,h5
    {
        font-size: 16px;
        
    }
   th,td,tr
    {
        border:0px; 
     font-variant:small-caps;
     font-style:normal;
     }
      tr:hover
     {
         background-color:#999999;
     }
     .main
     {
         padding: 0px;
         text-align: center;
         max-width: 500px;
         padding-bottom: 30px;
     }
     input
     {
          border-radius: 5px;
          color: black;
   
         font-variant:small-caps;
       font-style:normal;      
     }
.table > tbody > tr > td,
.table > tbody > tr > th,
.table> tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th 
{
    border: none;
    
}
